### Ultimate Data Science Challenge

Data:
- logins.json
- ultimate_data_challenge.json

#### Part 1 ‑ Exploratory data analysis

1.1. Load data, convert to datetime, and resample to 15 min intervals

In [61]:
import pandas as pd

df1=pd.read_json('logins.json')
#change to datetime
df1=pd.to_datetime(df1['login_time'])
df1=pd.DataFrame(df1) #change to a DataFrame 

df1['Counts']=1 #crete a new column
df1.head() #check

           login_time  Counts
0 1970-01-01 20:13:18       1
1 1970-01-01 20:16:10       1
2 1970-01-01 20:16:37       1
3 1970-01-01 20:16:36       1
4 1970-01-01 20:26:21       1

In [54]:
#resample data in 15 min increments
#https://stackoverflow.com/questions/14861023/resampling-minute-data

df1=df1.set_index('login_time') 
df1=df1.resample('15Min').sum()
df1.head() #check

                     Counts
login_time
1970-01-01 20:00:00     2.0
1970-01-01 20:15:00     6.0
1970-01-01 20:30:00     9.0
1970-01-01 20:45:00     7.0
1970-01-01 21:00:00     1.0

In [60]:
df1.isnull().sum() #count number of null entries.

Counts    407
dtype: int64

In [65]:
#set null entries to zero
df1=df1.fillna(0) #fill na entries with 0
df1.isnull().sum() #check

login_time    0
Counts        0
dtype: int64

In [12]:
#split date from time
#https://stackoverflow.com/questions/35595710/splitting-timestamp-column-into-seperate-date-and-time-columns
df_new=pd.DataFrame()

df_new['date']=[d.date() for d in df1['login_time']]
df_new['time']=[d.time() for d in df1['login_time']]
df_new.head()

         date      time
0  1970-01-01  20:13:18
1  1970-01-01  20:16:10
2  1970-01-01  20:16:37
3  1970-01-01  20:16:36
4  1970-01-01  20:26:21

In [13]:
#NEED  to make date index!!!
df_new=df_new.set_index('time')
df_new.head() #check

                date
time
20:13:18  1970-01-01
20:16:10  1970-01-01
20:16:37  1970-01-01
20:16:36  1970-01-01
20:26:21  1970-01-01

In [14]:
#resample
#add a new field via broadcasting

df_new['Count']=1

df_new.head()

                date  Count
time
20:13:18  1970-01-01      1
20:16:10  1970-01-01      1
20:16:37  1970-01-01      1
20:16:36  1970-01-01      1
20:26:21  1970-01-01      1

In [15]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 93142 entries, 20:13:18 to 18:54:23
Data columns (total 2 columns):
date     93142 non-null object
Count    93142 non-null int64
dtypes: int64(1), object(1)
memory usage: 2.1+ MB

In [19]:
df_new['Count'].resample('3T').mean()

#df_new.resample('60Min')

#use resample to aggregate into 15 min bins.
#https://stackoverflow.com/questions/14861023/resampling-minute-data

#df_new[time.resample('W')]
#df_new.info()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'

In [30]:
#inspect data
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93142 entries, 0 to 93141
Data columns (total 1 columns):
login_time    93142 non-null datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 727.8 KB

***

In [13]:
#https://stackoverflow.com/questions/36837663/reading-json-file-as-pandas-dataframe-error

#df2=pd.read_json('ultimate_data_challenge.json')
#df2.head()

import json

#import as json
with open('ultimate_data_challenge.json') as f:
    data = json.load(f)

#convert into pandas
df2=pd.DataFrame(data)
df2.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,ultimate_black_user,weekday_pct
0,3.67,5.0,4.7,1.10,King's Landing,2014-06-17,iPhone,2014-01-25,15.4,4,True,46.2
1,8.26,5.0,5.0,1.00,Astapor,2014-05-05,Android,2014-01-29,0.0,0,False,50.0
2,0.77,5.0,4.3,1.00,Astapor,2014-01-07,iPhone,2014-01-06,0.0,3,False,100.0
3,2.36,4.9,4.6,1.14,King's Landing,2014-06-29,iPhone,2014-01-10,20.0,9,True,80.0
4,3.13,4.9,4.4,1.19,Winterfell,2014-03-15,Android,2014-01-27,11.8,14,False,82.4

In [14]:
#inspect data
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
avg_dist                  50000 non-null float64
avg_rating_by_driver      49799 non-null float64
avg_rating_of_driver      41878 non-null float64
avg_surge                 50000 non-null float64
city                      50000 non-null object
last_trip_date            50000 non-null object
phone                     49604 non-null object
signup_date               50000 non-null object
surge_pct                 50000 non-null float64
trips_in_first_30_days    50000 non-null int64
ultimate_black_user       50000 non-null bool
weekday_pct               50000 non-null float64
dtypes: bool(1), float64(6), int64(1), object(4)
memory usage: 4.2+ MB

#### Part 2 ‑ Experiment and metrics design

#### Part 3 ‑ Predictive modeling

#### Data description

● city: city this user signed up in  
● phone: primary device for this user  
● signup_date: date of account registration; in the form ‘YYYY MM DD’  
● last_trip_date: the last time this user completed a trip; in the form ‘YYYY MM DD’  
● avg_dist: the average distance in miles per trip taken in the first 30 days after signup  
● avg_rating_by_driver: the rider’s average rating over all of their trips  
● avg_rating_of_driver: the rider’s average rating of their drivers over all of their trips  
● surge_pct: the percent of trips taken with surge multiplier > 1  
● avg_surge: The average surge multiplier over all of this user’s trips  
● trips_in_first_30_days: the number of trips this user took in the first 30 days after signing up  
● ultimate_black_user: TRUE if the user took an Ultimate Black in their first 30 days; FALSE otherwise  
● weekday_pct: the percent of the user’s trips occurring during a weekday